<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>qunpin_login_dev</title>
</head>
<body>
  <div>
    <form action="/login" method="post">
      <div>
        <input type="email" name="email" placeholder="邮箱" value="{{form['email']}}"/>
        {%if form_error_message and form_error_message.get('email','')%}
        <span>{{form_error_message['email']}}</span>
        {%end%}
      </div>
      <div>
        <input type="password" name="password" />
        {%if form_error_message and form_error_message.get('password','')%}
        <span>{{form_error_message['password']}}</span>
        {%end%}
      </div>

      {%if form_error_message and form_error_message.get('form','')%}
      <div>
        <span>{{form_error_message['form']}}</span>
      </div>
      {%end%}

      {{ xsrf_form_html() }}
      <div>
        <input type="submit" value="登录"/>
      </div>
    </form>
  </div>
  
</body>
</html>
