{% extends "base.html" %}

{% block title %}
    首页
{% endblock %}

{% block container %}
<div id="container">
    <div id="slider">
        <a href="default.htm"><img src="/static/img/books/book1.jpeg" alt="" /></a>
        <a href="default.htm"><img src="static/img/books/book2.jpeg" alt="" /></a>
        <a href="default.htm"><img src="static/img/books/book3.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book4.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book5.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book6.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book7.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book8.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book9.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book10.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book11.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book3.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book4.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book2.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book1.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book7.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book9.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book10.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book6.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book8.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book11.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book2.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book1.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book5.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book7.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book3.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book8.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book6.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book10.jpeg" alt="" /></a>
        <a href="default.htm"><img src="/static/img/books/book9.jpeg" alt="" /></a>
        
        <div id="slogan">
            <h2>群品<span>「群英荟萃，品书真味」</span></h2>
        </div>
    </div>
    <div id="features">
        <div class="third">
            <h3>主要功能</h3>
        </div>
        <div class="third">
            <h3>主要功能</h3>
        </div>
        <div class="third">
            <h3>主要功能</h3>
        </div>
    </div>
    
    <div id="content">
    
    </div>
</div>
{% endblock %}

{% block script %}
    <!-- <script type="text/javascript" src="/static/js/home.js"></script> -->
{% endblock %}

