{% extends 'dev_base.html'%}
{% block title %}群品-注册{% endblock %}

{% block main %}
<div>
  <form action="/register" method="post">
    <div>
      <input type="email" name="email" placeholder="邮箱" value="{{form.email}}"/>
      {{ macros.error_msg('email') }}
    </div>
    <div>
      <input type="text" name="username" placeholder="名字" value="{{form.username}}"/>
      {{ macros.error_msg('username') }}
    </div>
    <div>
      <input type="password" name="password_1" placeholder="密码" />
      {{ macros.error_msg('password_1') }}
    </div>
    <div>
      <input type="password" name="password_2" placeholder="密码确认" />
      {{ macros.error_msg('password_2') }}
    </div>
    {{ macros.error_msg('form') }}
    <div>
      {{ xsrf_form_html() }}
      <input type="submit" value="注册"/>
    </div>
  </form>
</div>
{% endblock %}
