{% extends 'dev_base.html'%}

{% block title %}群品-登录{% endblock %}

{% block main %}
<div>
    <form action="/login" method="post">
        <div>
            <input type="email" name="email" placeholder="邮箱" value="{{form.email}}"/>
            {{ macros.error_msg('email') }}
        </div>
        <div>
            <input type="password" name="password" />
            {{ macros.error_msg('password') }}
        </div>
        {{ macros.error_msg('form') }}
        <div>
            {{ xsrf_form_html() }}
            <input type="submit" value="登录"/>
        </div>
    </form>
</div>
{% endblock %}
