<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>qunpin_register_dev</title>
    </head>
    {% macro error_msg(name) -%}
        {# TODO: 把input一起写进来,然后把error_msg另写一个macro #}
        {% if form_error_message and form_error_message.get(name,'') %}
            <span>{{ form_error_message[name] }}</span>
        {% endif %}
    {%- endmacro %}
    <body>
        <div>
            <form action="/register" method="post">
                <div>
                    <input type="text" name="username" placeholder="用户名" value="{{form['username']}}">
                    {{ error_msg('username') }}
                </div>
                <div>
                    <input type="email" name="email" placeholder="邮箱" value="{{form['email']}}"/>
                    {{ error_msg('email') }}
                </div>
                <div>
                    <input type="password" name="password_1" />
                </div>
                    {{ error_msg('password_1') }}
                <div>
                    <input type="password" name="password_2" />
                    {{ error_msg('password_2') }}
                </div>
                <div>
                    {{ error_msg('form') }}
                </div>
                {{ xsrf_form_html() }}
                <div>
                <input type="submit" value="注册"/>
                </div>
            </form>
        </div>  
    </body>
</html>
